<span class="indicator-progress">
  <span
    *ngIf="isLoading | async"
    class="spinner-border spinner-border-sm align-middle ms-2"
  ></span
  >Loading ...
</span>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9">
  <ng-container *ngFor="let ROLE of ROLES">
    <div class="col-md-4">
      <div class="card card-flush h-md-100">
        <div class="card-header">
          <div class="card-title">
            <h2>{{ ROLE.name }}</h2>
          </div>
        </div>
        <div class="card-body pt-1">
          <div class="fw-bolder text-gray-600 mb-5">
            Total de usuario con este rol: {{ ROLE.usuarios.length }}
          </div>
          <div class="d-flex flex-column text-gray-600">
            <ng-container *ngFor="let PERMISO of ROLE.permisos; let i = index">
              <!-- Solo imprime los primeros 5 elementos -->
              <div *ngIf="i < 5" class="d-flex align-items-center py-2">
                <span
                  class="bullet bg-{{
                    PERMISO.state == 1 ? 'primary' : 'danger'
                  }} me-3"
                ></span
                >{{ PERMISO.name }}
              </div>
            </ng-container>

            <!-- Mostrar mensaje si hay más de 5 elementos -->
            <div
              *ngIf="ROLE.permisos.length > 5"
              class="d-flex align-items-center py-2"
            >
              <span class="bullet bg-primary me-3"></span>
              <em>y {{ ROLE.permisos.length - 5 }} más...</em>
            </div>
          </div>
        </div>
        <div class="card-footer flex-wrap pt-0">
          <div class="d-flex gap-2 justify-content-between">
            <div class="d-flex gap-2">
              <button
                type="button"
                class="btn btn-light btn-active-light-primary my-1"
                (click)="openModalEditRole(ROLE)"
              >
                Ver Rol
              </button>
              <button
                type="button"
                class="btn btn-light btn-active-light-primary my-1"
                (click)="openModalEditRole(ROLE)"
              >
                Editar Rol
              </button>
            </div>
            <button class="btn btn-white p-0">
              <i
                class="ki-duotone ki-trash text-danger fs-2tx"
                (click)="deleteRole(ROLE)"
              >
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
              </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="ol-md-4">
    <div class="card h-md-100">
      <div class="card-body d-flex flex-center">
        <button
          type="button"
          class="btn btn-clear d-flex flex-column flex-center"
          (click)="openModalCreateRole()"
        >
          <img
            src="assets/media/illustrations/sketchy-1/4.png"
            alt=""
            class="mw-100 mh-150px mb-7"
          />
          <div class="fw-bolder fs-3 text-gray-600 text-hover-primary">
            Añadir Nuevo Rol
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
