<span class="indicator-progress">
  <span
    *ngIf="isLoading | async"
    class="spinner-border spinner-border-sm align-middle ms-2"
  ></span
  >Loading ...
</span>
<div class="modal-body mx-5 my-7">
  <form
    id="form_update_role"
    class="form fv-plugins-bootstrap5 fv-plugins-framework"
    action="#"
  >
    <div
      class="d-flex flex-column scroll-y me-n7 pe-7"
      id="kt_modal_update_role_scroll"
      data-kt-scroll="true"
      data-kt-scroll-activate="{default: false, lg: true}"
      data-kt-scroll-max-height="auto"
      data-kt-scroll-dependencies="#kt_modal_update_role_header"
      data-kt-scroll-wrappers="#kt_modal_update_role_scroll"
      data-kt-scroll-offset="300px"
      style="max-height: 395px"
    >
      <div class="fv-row mb-10 fv-plugins-icon-container">
        <label class="fs-5 fw-bolder form-label mb-2">
          <span class="required">Editar Rol</span>
        </label>
        <input
          class="form-control form-control-solid"
          placeholder="Enter a role name"
          name="name"
          [(ngModel)]="name"
        />
        <div class="fv-plugins-message-container invalid-feedback"></div>
      </div>
      <div class="fv-row">
        <label class="fs-5 fw-bolder form-label mb-2">Permisos de rol</label>
        <div class="table-responsive">
          <table class="table align-middle table-row-dashed fs-6 gy-5">
            <tbody class="text-gray-600 fw-bold">
              <tr>
                <td class="text-gray-800">
                  Acceso de Administrador
                  <i
                    class="fas fa-exclamation-circle ms-1 fs-7"
                    data-bs-toggle="tooltip"
                    title=""
                    data-bs-original-title="Allows a full access to the system"
                    aria-label="Allows a full access to the system"
                  ></i>
                </td>
                <td>
                  <label
                    class="form-check form-check-sm form-check-custom form-check-solid me-9"
                  >
                    <input class="form-check-input" type="checkbox" (change)="selectAll($event)" />
                    <span for class="form-check-label">Selecionar todo</span>
                  </label>
                </td>
              </tr>
              <ng-container *ngFor="let PERMISO of PERMISOS_ALL">
                <tr>
                  <td class="text-gray-800">{{ PERMISO.name }}</td>
                  <td>
                    <div class="d-flex">
                      <label
                        class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20"
                      >
                        <input
                          [disabled]="PERMISO.state == 2"
                          [checked]="PERMISO.view == 1"
                          class="form-check-input permiso_check"
                          type="checkbox"
                          value="{{ PERMISO.id + '_1' }}"
                          name="{{ 'permiso_' + PERMISO.id + '_1_view' }}"
                        />
                        <span class="form-check-label">Lectura</span>
                      </label>
                      <label
                        class="form-check form-check-custom form-check-solid me-5 me-lg-20"
                      >
                        <input
                          [disabled]="PERMISO.state == 2"
                          [checked]="PERMISO.write == 1"
                          class="form-check-input permiso_check"
                          type="checkbox"
                          value="{{ PERMISO.id + '_2' }}"
                          name="{{ 'permiso_' + PERMISO.id + '_2_write' }}"
                        />
                        <span class="form-check-label">Escritura</span>
                      </label>
                      <label
                        class="form-check form-check-custom form-check-solid"
                      >
                        <input
                          [disabled]="PERMISO.state == 2"
                          [checked]="PERMISO.create == 1"
                          class="form-check-input permiso_check"
                          type="checkbox"
                          value="{{ PERMISO.id + '_3' }}"
                          name="{{ 'permiso_' + PERMISO.id + '_3_create' }}"
                        />
                        <span class="form-check-label">Crear</span>
                      </label>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center pt-15">
      <button type="reset" class="btn btn-light me-3" (click)="modal.close()">
        Cerrar
      </button>
      <button type="submit" class="btn btn-primary">
        <span class="indicator-label">Guardar Cambios</span>
      </button>
    </div>
    <div></div>
  </form>
</div>
