<span *ngIf="isLoading | async" class="indicator-progress">
    Please wait...
    <span
      class="spinner-border spinner-border-sm align-middle ms-2"
    ></span
  ></span>
<div class="modal-content">
    <div class="modal-header" id="kt_modal_add_user_header">
        <h2 class="fw-bolder">Agregar Usuario</h2>
        <div class="btn btn-icon btn-sm btn-active-icon-primary" (click)="modal.close()">
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                </svg>
            </span>
        </div>
    </div>
    <div class="modal-body scroll-y mx-2 mx-xl-2 my-2">
        <form id="form_register_user" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
            <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px" style="max-height: 395px;">
                <div class="fv-row mb-7 text-center">
                    <label class="d-block fw-bold fs-6 mb-5">Foto de perfil</label>
                    <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('assets/media/svg/avatars/blank.svg')">
                        <div class="image-input-wrapper w-125px h-125px" style="background-image: url(assets/media/avatars/300-6.jpg);"></div>
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="" data-bs-original-title="Change avatar">
                            <i class="bi bi-pencil-fill fs-7"></i>
                            <input type="file" name="avatar" accept=".png, .jpg, .jpeg">
                            <input type="hidden" name="avatar_remove">
                        </label>
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="" data-bs-original-title="Cancel avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="" data-bs-original-title="Remove avatar">
                            <i class="bi bi-x fs-2"></i>
                        </span>
                    </div>
                    <div class="form-text">Tipos de archivos permitidos: png, jpg, jpeg.</div>
                </div>
                <app-user-input [inputLabel]="'User Name'" [inputType]="'text'" [inputName]="'name'" [inputPlaceholder]="'Enter user name'"></app-user-input>
                <app-user-input [inputLabel]="'Email'" [inputType]="'email'" [inputName]="'email'" [inputPlaceholder]="'example@domain.com'"></app-user-input>
                <app-user-input [inputLabel]="'Password'" [inputType]="'text'" [inputName]="'password'" [inputPlaceholder]="'**********'"></app-user-input>
                <div class="mb-7">
                    <label class="required fw-bold fs-6 mb-5">Rol</label>
                    <ng-container *ngFor="let ROLE of ROLES">
                        <app-user-check 
                        [checkName]="'role_id'" 
                        [checkType]="'radio'" 
                        [checkValue]="ROLE.id" 
                        [checkId]="ROLE.id" 
                        [checkFor]="'role_'+ROLE.id" 
                        [checkName]="ROLE.name" 
                        [checkDecription]="'Best for business owners and company administrators'"
                        ></app-user-check>
                    </ng-container>
                </div>
            </div>
            <div class="text-center pt-15">
                <app-user-button [addClass]="'light me-3'" [label]="'Cerrar'" (click)="modal.close()"></app-user-button>
                <app-user-button [addClass]="'primary'" [label]="'Guardar'"></app-user-button>
            </div>
        </form>
    </div>
</div>