<div class="content d-flex flex-column flex-column-fluid" id="kt_content" data-select2-id="select2-data-kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Layout-->
            <div class="d-flex flex-column flex-lg-row">
                <!--begin::Sidebar-->
                <div class="flex-column flex-lg-row-auto w-100 w-lg-200px w-xl-300px mb-10">
                    <!-- <ng-container *ngFor="let ROLE of ROLES"> -->
                        <!--begin::Card-->
                        <div class="card card-flush">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2 class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{role_name}}</font></font></h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <!--begin::Permissions-->
                                <div class="d-flex flex-column text-gray-600">
                                    <ng-container *ngFor="let PERMISO of PERMISOS; let i = index">
                                        <!-- Solo imprime los primeros 5 elementos -->
                                        <div *ngIf="i < 5" class="d-flex align-items-center py-2">
                                            <span
                                                class="bullet bg-{{
                                                PERMISO.state === 1 ? 'primary' : 'danger'
                                                }} me-3"
                                            ></span>{{ PERMISO.name }}
                                        </div>
                                    </ng-container>
                          
                                    <!-- Mostrar mensaje si hay más de 5 elementos -->
                                    <div
                                        *ngIf="PERMISOS.length > 5"
                                        class="d-flex align-items-center py-2"
                                    >
                                        <span class="bullet bg-primary me-3"></span>
                                        <em>y {{ PERMISOS.length - 5 }} más...</em>
                                    </div>
                                </div>
                                <!--end::Permissions-->
                            </div>
                            <!--end::Card body-->
                            <!--begin::Card footer-->
                            <div class="card-footer pt-0">
                                <button type="button" class="btn btn-light btn-active-primary" >
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Editar rol</font>
                                    </font>
                                </button>
                            </div>
                            <!--end::Card footer-->
                        </div>
                        <!--end::Card-->
                    <!-- </ng-container> -->
                </div>
                <!--end::Sidebar-->
                <!--begin::Content-->
                <div class="flex-lg-row-fluid ms-lg-10">
                    <!--begin::Card-->
                    <div class="card card-flush mb-6 mb-xl-9">
                        <!--begin::Card header-->
                        <div class="card-header pt-5">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <h2 class="d-flex align-items-center">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Usuarios asignados</font>
                                    </font>
                                    <span class="text-gray-600 fs-6 ms-1">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">({{USUARIOS.length}})</font>
                                        </font>
                                    </span>
                                </h2>
                            </div>
                            <!--end::Card title-->
                            <!--begin::Card toolbar-->
                            <div class="card-toolbar">
                                <!--begin::Search-->
                                <div class="d-flex align-items-center position-relative my-1" data-kt-view-roles-table-toolbar="base">
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                    <input type="text" data-kt-roles-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Buscar usuarios">
                                </div>
                                <!--end::Search-->
                            </div>
                            <!--end::Card toolbar-->
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <!--begin::Table-->
                            <div id="kt_roles_view_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="table-responsive">
                                    <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0 dataTable no-footer" id="kt_roles_view_table">
                                        <!--begin::Table head-->
                                        <thead>
                                            <!--begin::Table row-->
                                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                                <th>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">N°</font>
                                                    </font>
                                                </th>
                                                <th class="min-w-50px sorting" tabindex="0" aria-controls="kt_roles_view_table" rowspan="1" colspan="1" aria-label="ID: activar para ordenar la columna de forma ascendente" style="width: 80.375px;">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">DNI</font>
                                                    </font>
                                                </th>
                                                <th class="min-w-150px sorting" tabindex="0" aria-controls="kt_roles_view_table" rowspan="1" colspan="1" aria-label="Usuario: activar para ordenar la columna de forma ascendente" style="width: 299.112px;">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Usuario</font>
                                                    </font>
                                                </th>
                                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_roles_view_table" rowspan="1" colspan="1" aria-label="Fecha de incorporación: activar para ordenar la columna de forma ascendente" style="width: 215.125px;">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Fecha de incorporación</font>
                                                    </font>
                                                </th>
                                                <th class="text-end min-w-100px sorting_disabled" rowspan="1" colspan="1" aria-label="Acciones" style="width: 133.837px;">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Acciones</font>
                                                    </font>
                                                </th>
                                            </tr>
                                            <!--end::Table row-->
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody class="fw-bold text-gray-600">
                                            <ng-container  *ngFor = "let USUARIO of USUARIOS; let i=index" > 
                                                <tr class="odd">
                                                    <td>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">{{i+1}}</font>
                                                        </font>
                                                    </td>
                                                    <!--begin::ID-->
                                                    <td>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">{{USUARIO.dni}}</font>
                                                        </font>
                                                    </td>
                                                    <!--begin::ID-->
                                                    <!--begin::User=-->
                                                    <td class="d-flex align-items-center">
                                                        <!--begin:: Avatar -->
                                                        <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                                            <a href="../../demo1/dist/apps/user-management/users/view.html">
                                                                <div class="symbol-label">
                                                                    <img src="assets/media/avatars/300-6.jpg" alt="Emma Smith" class="w-100">
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <!--end::Avatar-->
                                                        <!--begin::User details-->
                                                        <div class="d-flex flex-column">
                                                            <a href="../../demo1/dist/apps/user-management/users/view.html" class="text-gray-800 text-hover-primary mb-1">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">{{USUARIO.name}}</font>
                                                                </font>
                                                            </a>
                                                            <span>
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">{{USUARIO.email}}</font>
                                                                </font>
                                                            </span>
                                                        </div>
                                                        <!--begin::User details-->
                                                    </td>
                                                    <!--end::user=-->
                                                    <!--begin::Joined date=-->
                                                    <td data-order="2022-06-20T06:43:00-05:00">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">20 de junio de 2022, 6:43 am</font>
                                                        </font>
                                                    </td>
                                                    <!--end::Joined date=-->
                                                    <!--begin::Action=-->
                                                    <td class="text-end">
                                                        <a
                                                            class="btn btn-icon btn-active-light-primary w-30px h-30px me-3"
                                                            href="#"
                                                        >
                                                            <i class="ki-duotone ki-eye fs-3"
                                                            ><span class="path1"></span><span class="path2"></span
                                                            ><span class="path3"></span><span class="path4"></span></i>
                                                        </a>
                                                        <button
                                                            class="btn btn-icon btn-active-light-danger w-30px h-30px"
                                                        >
                                                            <i class="ki-duotone ki-trash fs-3">
                                                            <span class="path1"></span><span class="path2"></span>
                                                            <span class="path3"></span><span class="path4"></span
                                                            ><span class="path5"></span>
                                                            </i>
                                                        </button>
                                                    </td>
                                                    <!--end::Action=-->
                                                </tr>
                                            </ng-container>
                                       </tbody>
                                        <!--end::Table body-->  
                                    </table>
                                </div>   
                                <div class="row">
                                    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                                    </div>

                                    <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                        <div class="dataTables_paginate paging_simple_numbers" id="kt_roles_view_table_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="kt_roles_view_table_previous">
                                                    <a href="#" aria-controls="kt_roles_view_table" data-dt-idx="0" tabindex="0" class="page-link">
                                                        <i class="previous"></i>
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#" aria-controls="kt_roles_view_table" data-dt-idx="1" tabindex="0" class="page-link">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">1</font>
                                                        </font>
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" aria-controls="kt_roles_view_table" data-dt-idx="2" tabindex="0" class="page-link">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">2</font>
                                                        </font>
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" aria-controls="kt_roles_view_table" data-dt-idx="3" tabindex="0" class="page-link">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">3</font>
                                                        </font>
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item next" id="kt_roles_view_table_next">
                                                    <a href="#" aria-controls="kt_roles_view_table" data-dt-idx="4" tabindex="0" class="page-link">
                                                        <i class="next"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Table-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Content-->
            </div>
            <!--end::Layout-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
